<!doctype html>
<html>
<head>
    <title>Welcome to My Modding forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<h1>Welcome to My Modding Forum</h1>
<div>
    <p>Here we have a collection of games that have mods designed for them, for you!</p>
</div>
</body>

</html>
