<!doctype html>
<html>
<head>
    <title>Welcome to the posts list</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<form method="POST" action="/new-topic-submit">
    <div>
        <label for="topicname">Topic Name:</label>
        <input type="text" id="topicname" name="topicname" required>
    </div>
    <div>
        <label for="topicdescription">Content:</label>
        <textarea id="topicdescription" name="topicdescription" required> </textarea>
    </div>
    <button type="submit">Create a Topic</button>
</form>
</body>
</html>
