<!doctype html>
<html>
<head>
    <title>Welcome to My Forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<header>
    <h1 id="title">Welcome to My Forum</h1>
    <div id="auth-links">
        <a href="signin">Sign in here</a>
        <a href="logout">Logout Here</a>
        <a href="signup">Sign up Here</a>
    </div>
</header>
<section id="content-box">
    <p><a href="about">About</a></p>
    <p><a href="topics">Topics</a></p>
    <p><a href="users">List users</a></p>
    <p><a href="searchposts">Search posts</a></p>
    <p><a href="addtopic">Add topic</a></p>
</section>
</body>
</html>