<!doctype html>
<html>
<head>
    <title>Welcome to the sign in page</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<p><%= message %></p>
<p><a href="/">Return to home</a></p>
</html>
