<!doctype html>
<html>
<head>
    <title>Welcome to the posts list</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1><%= post.posttitle %></h1>
    <p><%= post.postcontent %></p>
    <p><%= post.postdate %></p>
</body>
</html>
