<!doctype html>
<html>
<head>
    <title>Welcome to the posts list</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<form method="POST" action="/search-existing-posts">
    <div>
        <label for="postTitle">Post Title:</label>
        <input type="text" id="postTitle" name="postTitle">
    </div>
    <div>
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic">
    </div>
    <div>
        <label for="username">username:</label>
        <input type="text" id="username" name="username">
    </div>
    <button type="submit">Search Posts</button>
</form>
</body>
</html>