<!doctype html>
<html>
<head>
    <title>Welcome to My forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
    <body>
    <h1>Welcome to My Forum</h1>
    <ul>
        <% topics.forEach(item => { %>
            <li><a href="topics/<%= item.topicID %>"> <%= item.topicname %></a></li>
        <% }); %>
    </ul>
    </body>

</html>
